*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3edede5 ;
}

.menu{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.menu h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

.list{
    /* background-color: aquamarine; */
    font-size: 12px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.list a{
    color: white;
    text-decoration: none;
}

div .hero {

    background-image: url(../img/auto.jpg) center/cover no-repeat ;
    height: 400px;
    display: flex ;
}

.flex{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    /* width: 500px; */
    height: 500px;
       
}
.about{
    background-color: chartreuse;
    width: 700px;
    padding: 20px;
    
}

.service{
    background-color: blue;
    width: 700px;
    padding: 20px;

}

.contact{
    background-color: blueviolet;
    width: 700px;
    padding: 20px;
}

div h3{
    margin-bottom: 10px;

}





