*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3edede5 ;
}

.menu{
    background-color:#22398A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.menu h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

.list{
    /* background-color: aquamarine; */
    font-size: 12px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.list a{
    color: white;
    text-decoration: none;
}
.hero{

    background-image: url(../img/auto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.hero h2{
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
    color: white;
    width: 260px;
    height: 35px;
    padding: 14px 0px 1px 21px;
    border-radius: 10px;


}

.flex{
    background-color: #F8FAFB;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 450px;
    
    
       
}

.flex section{
    background-color: white;
    width: 700px;
    padding: 25px;
    box-shadow: 7px 7px rgba(0,0,0,0.02);
    border-radius: 7px;
}

.flex h3{
    color:#22398A;
    margin-bottom: 20px;
}

.flex p{
    font-size: 12px
}

.footer{
    background-color:#22398A;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: center;

    
}




